/* Modern, clean design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('Backgroundfinance1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */
header {
  text-align: center;
  margin: 20px 0;
}

h1 {
  font-size: 2.5rem;
  color: #05869d;
}

.intro {
  text-align: center;
  padding: 10px 20px;
}

/* Form section styling */
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 20px 0;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input:focus, select:focus {
  border-color: #05869d;
  outline: none;
}

/* Button styling */
button.submit-button {
  background-color: #05869d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-button:hover {
  background-color: #45a049;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  body {
      padding: 0 10px;
  }

  form {
      max-width: 100%;
  }
}
